/* Start :: Hero Banner */
.hero-banner .hero-banner__title {
    height: 500px;
}
/* End :: Hero Banner */

/*
    1. Desktop First
    2. Mobile First

    BreakPoints: 576px, 768px, 992px, 1200px
*/

@media screen and (min-width: 1200px) {
    .header {
        background-color: yellow;
    }
}

@media screen and (min-width: 1200px) and (max-width: 992px) {
    .header {
        background-color: yellow;
    }
}





