.banner{
    position: relative;
    background-image: url('./../../assets/images/backgrounds/banner1.png');
    background-color: var(--primary-color);
}

.banner__container{
    padding: 9rem 0;
}

.banner .title-page{
    font-size: 3.125rem;
    color: var(--light-color);
    line-height: 5rem;
}

.breadcrumb{
    position: absolute;
    bottom: 0;
    right: 0;

    padding: .625rem 2rem;

    color: var(--light-color);
    background-color: var(--secondary-color);
}

.breadcrumb li{
    display: inline-block;
    margin-right: .25rem;
    font-size: .75rem;
}

.breadcrumb li a{
    display: block;
}

.breadcrumb li a::after{
    content: '/';
    margin-left: .5rem;
}
.breadcrumb li:last-child a::after{
    content: '';
    margin-left: 0;
}